.booking-holder{
  position: relative;
}

.booking-address {
  margin-bottom: 20px;
}

.booking-price {
  font-size: 250%;
  color: rgb(122, 213, 111);
}

.booking-address-holder{
  width: 80%;
  margin: 0 auto;
}

.booking-locations{
  right: 25px;
}

.booking-btn-holder {
  text-align: center;
}

/******************************** MEDIA QUERIES *************************************/

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {
/* Styles */
}

@media only screen and (min-width : 500px) {
  .booking-address-holder{
    width: 50%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 768px) {
  .booking-address-holder{
    width: 100%;
    margin: 0;
  }

  .booking-btn-holder {
    text-align: right;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}



